# =========================
# Python
# =========================
__pycache__/

# Virtual Environments
venv/
.venv/
env/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# IDEs
# =========================

# VS Code
.vscode/


# =========================
# Docker
# =========================
docker-compose.override.yml

# =========================
# AWS / SSH Keys
# =========================
*.pem
*.key

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

# =========================
# Testing
# =========================
.pytest_cache/


